.App{
  background-color: #FFAA55;
}

.CampoBusca{
  margin-left: 69px;
  width:700px !important;
}

.Carousel {
  left: 25%;
  width: 50%;
  height: 60%;
}

.Logo{
  width:70px;
  height:50px;
}

.ImageSize{
  width: 300px;
  height: 200px;
}

.ImageCarousel{
  width: 300px;
  height: 300px;
}